body {
	background-image: url("flowers.jpg");
	background-repeat: no-repeat;
	background-position: center;
background-size: cover;	
	color:red;
	
}
h1 {
	text-align: center
	border: 1px solid black;
  outline-style: solid;
  outline-color: grey;
  outline-width: medium
}
  

p {
	font-family: georgia

	fon: 20px
	
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

